/* VARIABLES GLOBALES PARA EL TEMA */
/* FUENTES PRINCIPALES */	
$font-family-1											: 'Source Sans Pro', sans-serif;

/* ANCHOS Y ALTOS DE PANTALLA */
$max-width											    : 1400px;
$max-width-redx											: 1152px;
$max-width-footer										: 1320px;
$max-width-min-1										: 1200px;
$max-width-min-2										: 1150px;

/* COLORS - THEME */
$theme-clr-primary									    : #9DC140;

$theme-clr-bgclr					                    : #FFFFFF;